*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../assest/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Red Rose", cursive;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}


nav img{
    width: 100px;
    height: 35px;
    margin-left: 3vw;
}

nav ul {
    display: flex;
    gap: 10vh;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #F7C82B;
}

nav button{
    margin-right: 3vw;
    padding: 10px 30px;
    background-color: #FF505F;
    border: none;
    color: white;
    font-weight: 700;
}

nav button:hover{
    background-color: #ef3141;
}

/* Main Section */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

main h1{
    font-size: 5rem;
    color: #F7C82B;
    font-weight: 900;
    text-align: center;
    line-height: 70px;
}

main button{
    margin-top: 8vh;
    padding: 15px 30px;
    background-color: #FF505F;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

main button:hover{
    background-color: #ef3141;
}

/* Scroll */
.scroll img{
    width: 150px;
    height: 150px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

