*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #363636;
    background-color: white;
    margin: 0 5vw;
}

nav{
    display: flex;
    margin-top: 5vh;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #363636;
    font-weight: 500;
    gap: 10px;
}

nav ul li a:hover{
    text-decoration: underline;
    font-weight: 600;
    color: #5955b3;
}

nav ul li a img{
    width: 100px;
    height: 35px;
}

.button{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #5955b3;
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-weight: 600;
}

.button:hover{
    border: 1px solid #5955b3;;
    background-color: white;
    color: #5955b3;
}

/* Main Section */
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}

.main-left h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.main-left span{
    color: #5955b3;
}

.main-left p{
    margin: 15px 0;
}

.main-right img{
    width: 550px;
    height: 450px;
}