*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #363636;
    background-color: #F8F4E9;
}

nav{
    display: flex;
    margin-top: 3vh;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10vw;
    gap: 5vw;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #363636;
    font-weight: 500;
    gap: 10px;
}

nav ul li a:hover{
    text-decoration: underline;
    font-weight: 600;
}

nav ul li a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Main Section */
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20vh;
}

.main-left h1{
    font-size: 3rem;
}

.main-left p{
    margin: 15px 0;
}

.main-left button{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #2A7D51;
    color: white;
    padding: 10px;
    margin-top: 15px;
    font-weight: 600;
}

.main-left button:hover{
    border: 1px solid #2A7D51;
    border-radius: 5px;
    background-color: white;
    color: #2A7D51
}
.main-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.part1 div{
    display: flex;
    gap: 20px;
}

.part1 div img{
    width: 150px;
    height: 170px;
}

.part2 div img{
    width: 320px;
    height: 130px;
}